# for reference check: https://docs.cilium.io/en/stable/helm-reference/

envoyConfig:
  enabled: true

# enable for debugging
# debug:
#   enabled: true
#   verbose: flow

ingressController:
  default: true
  enabled: true
  loadbalancerMode: shared
  service:
    annotations:
      "lbipam.cilium.io/ips": "172.16.4.40"

k8sClientRateLimit:
  burst: 100
  qps: 50

kubeProxyReplacement: true

l2announcements:
  enabled: true

# loadBalancer:
#   l7:
#     backend: envoy

gatewayAPI:
  enabled: true
  gatewayClass:
    create: "true"

operator:
  replicas: 2

# test
# apiRateLimit: endpoint-create=rate-limit:2/s,rate-burst:4
